.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo {
  font-family: 'Staatliches', cursive;
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 30px;
  margin-left: 30px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

/* HOMEPAGE */

.homepage-hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.shape.com/sites/shape.com/files/u470/1200-wild-blueberry.jpg");
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

.homepage-banner {
  font-family: 'Staatliches', cursive;
  color: #fff;
  letter-spacing: 0.02em;
  width: 60%;
  height: 50vh;
  margin: auto;
}

.homepage-banner button {
  margin: 10px;
  padding: 10px;
  background-color: #232323;
  font-family: 'Staatliches', cursive;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

/* DASHBOARD */

.dash-container {
  display: flex;
  flex-direction: column;
}

.dash-nav {
  margin: 20px;
}
.dash-nav a {
  margin: 15px;
}

.adventures-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-adventure-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-adventure-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-adventure-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-adventure-wrapper input {
  margin: 10px;
  font-size: 18px;
}

.add-adventure-wrapper textarea {
  margin: 10px;
  font-size: 18px;
}

.image-form-wrapper {
  display: flex;
  margin-bottom: 12px;
}

.general-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: seagreen;
  color: #fff;
  cursor: pointer;
}

.preview-images-wrapper {
  display: flex;
  margin-bottom: 12px;
}

.preview-image {
  width: 100px;
  height: 100px;
  margin: 5px;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  background: white;
  width: 60%;
  height: 70vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  box-sizing: border-box;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 24px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}