.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo {
  font-family: 'Staatliches', cursive;
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 30px;
  margin-left: 30px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

/* HOMEPAGE */

.homepage-hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.shape.com/sites/shape.com/files/u470/1200-wild-blueberry.jpg");
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

.homepage-banner {
  font-family: 'Staatliches', cursive;
  color: #fff;
  letter-spacing: 0.02em;
  width: 60%;
  height: 50vh;
  margin: auto;
}

.homepage-banner button {
  margin: 10px;
  padding: 10px;
  background-color: #232323;
  font-family: 'Staatliches', cursive;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.02em;
}

.dash-container {
  display: flex;
  flex-direction: column;
}

.dash-nav {
  margin: 20px;
}
.dash-nav a {
  margin: 15px;
}

.adventures-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adventures-list button {
  width: 180px;
  padding: 10px;
  color: #fff;
  background-color: seagreen;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
}

.add-adventure-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.add-adventure-wrapper input {
  margin: 10px;
  font-size: 18px;
}

.add-adventure-wrapper button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: seagreen;
  color: #fff;
}