/* SASS VARIABLES */

$heading-font: "Montserrat", sans-serif;
$paragraph-font: "Open Sans", sans-serif;
$green: #10BA68;
$dark: #292929;
$text-light: #9B9B9B;

/* SASS PLACEHOLDERS */

%button {
  background-color: $green;
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
  border: none;
  cursor: pointer;
}

%form-button {
  font-family: $heading-font;
  font-size: 13px;
  background-color: #E0E2DF;
  color: #617067;
  border: 1px solid #9a9c9b44;
  cursor: pointer;
}

%hero {
  width: 100%;
  height: calc(100vh - 100px);;
  background-size: cover;
  display: flex;
}

%input-box {
  font-family: $heading-font;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #9b9b9b;
  border: 2px solid rgba(155, 155, 155, 0.274);
}

/* GLOBAL STYLES */

.App {
  text-align: center;
}

.delete-circle {
  background-color: $green;
  padding: 5px;
  border: none;
  border-radius: 50%;
  font-family: $heading-font;
  font-weight: 700;
  cursor: pointer;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $heading-font;
  letter-spacing: 0.02em;
  width: 60%;
  max-width: 805px;
  margin: auto;
  color: #fff;

  h1 {
    margin: 0;
    font-size: 35px;
  }

  p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 23px;
  }

  button {
    @extend %button;
    margin-top: 6px;
    padding: 13px 35px;
  }

}

/* HEADER */

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: $heading-font;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.03em;
  text-decoration: none;

  a {
    color: $text-light;
    cursor: pointer;
    text-decoration: none;
  }

  .nav-left {
    position: absolute;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 15px;
    }

  }

  .nav-right {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
    }

    a {
      margin: 10px;
      padding-bottom: 2px;
    }

  }

  .logo {
    margin: 0 auto;

    img {
      width: 180px;
      height: 64px;
    }
  }

}

.dropdown {
  width: 100%;
  height: 55px;
  background-color: $dark;
  display: flex;
  align-items: center;
  font-family: $heading-font;
  font-weight: 700;
  letter-spacing: 0.02em;

  .dropdown-option {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    border-right: 2px solid #70707069;
    cursor: pointer;
  }

  a {
    height: 100%;
    text-decoration: none;
    color: #fff;
  }

  .selected {
    background-color: $green;
    border-right: none;
  }
}

/* HOMEPAGE */

.homepage-hero {
  @extend %hero;
  background-image: linear-gradient(rgba(33, 41, 51, 0.65), rgba(8, 38, 75, 0.65)), url("./images/currants.jpg");
}

/* LOGIN AND SIGN UP PAGE */

.login-hero {
  @extend %hero;
  background-image: linear-gradient(rgba(33, 41, 51, 0.65), rgba(8, 38, 75, 0.65)), url("./images/currants.jpg");
}

/* DASHBOARD */

.dash-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ADVENTURES LIST */

.list-wrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .list-item-wrapper {
    position: relative;
    width: 33.33%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/blackberries.jpg");
    background-size: cover;
    font-family: $heading-font;
    font-weight: 700;
    color: #fff;

      .list-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
      }

      .title * {
        margin: 10px;
        cursor: pointer;
        letter-spacing: 0.02em;
      }
      h2 {
        text-transform: uppercase;
      }
      img {
        position: absolute;
        bottom: 30px;
        height: 35px;
        cursor: pointer;
      }
      .eye-menu {
        position: absolute;
        bottom: 30px;
        height: 45px;
        cursor: pointer;
      }
  }

}

/* ADD ADVENTURE PAGE */

.add-adventure-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $heading-font;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: $dark;

  .add-adventure-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 23px;
    font-family: $heading-font;
    
    h1 {
      margin-bottom: 15px;
    }

    input, textarea {
      @extend %input-box;
      margin: 10px;
      padding: 15px;
      font-size: 16px;
      resize: none;
    }

    .button-container {
      display: flex;
      margin-top: 7px;
      
      button {
        @extend %form-button;
        margin: 15px;
        padding: 14px 25px;
      }
    }

    .image-upload-box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 65vh;
      margin: 20px 0;
      background-image: linear-gradient(rgba(33, 41, 51, 0.65), rgba(8, 38, 75, 0.65)), url("./images/upload-box-bg.jpg");
      background-size: cover;
      color: #fff;
      font-size: 20px;

      button {
        @extend %button;
        padding: 18px;
      }

      .image-upload-progress {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background-color: #00000071;
        width: 100%;
        height: 90px;

        .image-preview {
          position: relative;
          width: 65px;
          height: 65px;
          background-image: url("./images/upload-preview.jpg");
          background-size: cover;
          background-color: white;
          margin-left: 15px; 

          button {
            position: absolute;
            top: -6px;
            right: -6px;
            padding: 5px;
          }
        }
      }
    }

    .add-species-box {
      ul {
        line-height: 38px;
      }
    }

    .adventure-submit {
      margin: 20px;
      display: flex;
      justify-content: center;
      button {
        @extend %button;
        padding: 13px 35px;
      }
    }

  }

}

/* SINGLE ADVENTURE PAGE */

.adventure-wrapper {
  font-family: $heading-font;

  .settings-box {
    text-align: right;
    padding: 30px 60px;
    font-size: 35px;
    color: $dark;

    i {
      cursor: pointer;
    }
  }
}

.adventure-hero {
  @extend %hero;
  position: relative;
  justify-content: center;
  background-image: linear-gradient(rgba(33, 41, 51, 0.65), rgba(8, 38, 75, 0.65)), url("./images/maidens-cliff-fall.jpg");

  .adventure-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
    position: absolute;
    bottom: 50px;
    font-family: $heading-font;
    letter-spacing: 0.02em;
    line-height: 22px;
    color: #fff;

    h1 {
      font-size: 40px;
    }

    h3, button {
      margin-right: 30px;
    }

    .adventure-details {
      display: flex;
    }

    .adventure-photos {
      display: flex;
      align-items: flex-end;
      align-items: center;

      button {
        @extend %button;
        padding: 12px 30px;
      }
    }
  }

}

.adventure-overview, .description-box {
  display: flex;
  width: 100%;
  color: $dark;

  .species-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;

    .species-box-content {
      margin: 30px 60px;

      ul {
        font-size: 18px;
        line-height: 35px;
      }
    }
  }

  .map-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    .map-preview {
      background-image: url("./images/map-preview.jpg");
      background-size: cover;
      margin-top: 40px;
      width: 350px;
      height: 275px;
    }
  }

  .description-box-content {
    margin: 0 60px;
    text-align: left;

    p {
      font-weight: 400;
      line-height: 22px; 
      color: $text-light;
    }

  }

}


/* ADD SPECIES MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-main {
  display: flex;
  position:fixed;
  background: white;
  width: 65%;
  height: 75vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  a.close-btn {
    position: absolute;
    top: 14px;
    right: 24px;
    cursor: pointer;
    font-size: 18px;
  }

  .modal-content {
    width: 100%;
    margin: 25px 50px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    text-align: left;

    header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        @extend %form-button;
        margin: 15px;
        padding: 14px 35px;
      }

    }

    form {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      
      input, textarea {
        @extend %input-box;
        margin: 7px 0;
        padding: 10px;
        font-size: 14px;
      }

      textarea {
        flex: 1 1 auto;
        resize: none;
      }

      button {
        @extend %button;
        padding: 12px 27px;
        margin: 0 auto;
        margin-top: 12px;
      }

    }

  }

  .modal-img {
      width: calc(100% / 5 * 2);
      background-size: cover;
      box-sizing: border-box;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Brennnessel_1.JPG/1200px-Brennnessel_1.JPG"); 
  }

  .species-content {
    position: relative;
    width: calc(100% / 5 * 3);

    header {
      color: $dark;
      letter-spacing: 0.03em;
      font-size: 18px;
      margin-top: 40px;
    }

    section {
      margin: 25px 25px;
      text-align: left;
      letter-spacing: 0.02em;
      line-height: 20px;
      
      span {
        color: $text-light;
      }
    }

    i {
      color: $dark;
      font-size: 30px;
      position: absolute;
      bottom: 40px;
      right: 40px;
    }

  }

}

/* SINGLE SPECIES MODAL */

